In [210]:
import pandas as pd
import numpy as np
#from pathlib import Path
import matplotlib.pyplot as plt
import random
#create df_all variable
df_all = pd.read_csv('nuresed-fUS01.csv')
def get_duplicate_long_latitude():
    duplicate_data = df_all[df_all.duplicated(subset=['latitude', 'longitude'], keep=False)]
    return duplicate_data

In [211]:
#create function def get_random and pass the colume name as array
def get_random(colume_name=[]):
    
# get duplicate value 
    dup_df = get_duplicate_long_latitude()
    
#create to get ramdon number 5
    num_of_data_sample = dup_df.sample(n=5)
    
#return ("colume Name is empyt!! Column one or more column name requires")
    return (num_of_data_sample[colume_name])
#name of the colume 

Name_of_col_to_get_value = ["methods","wtrlevel","sampdat","samptyp"]                    
print(get_random(Name_of_col_to_get_value))
#print(get_sample_wtrlevel_samptyp(["wtrlevel"]))

                         methods wtrlevel     sampdat  samptyp
13  SR1, SR2, SR3-AA;CA;FE;XU;XX   NORMAL  1976/07/10       50
4   SR1, SR2, SR3-AA;CA;FE;XU;XX   NORMAL  1976/08/15       50
55  SR1, SR2, SR3-AA;CA;FE;XU;XX   NORMAL  1976/07/03       50
21                      SR1, SR2      DRY  1976/08/03       50
46     SR1, SR2, SR3-AA;CA;FE;XU   NORMAL  1976/08/11       50

In [212]:
def get_diff_value_by_latitude(latitude):
    Sample_dup = get_duplicate_long_latitude()
    new_df = Sample_dup.loc[Sample_dup ['latitude'] == latitude]
    return new_df

In [213]:
#declare varaiable for function
dup_df = get_duplicate_long_latitude()
#declare variable for the random range
rand_index = random.randrange(len(dup_df))
get_random_row = dup_df.iloc[[rand_index]]
duplicate_row_by_latitude = get_diff_value_by_latitude(get_random_row['latitude'].values[0])
column_array = ['strdpthc',
    'strwdthc',
    'latitude', 
    'longitude',
    'wtrlevel',
    'weather',
    'wtrtemp',
    'ph',
    'cond',
    'alk',
    'sedtype',
    'sedcolr',
    'strflowc',
    'wtrcolr',
    'sampdat',
                
]

df_new_data = duplicate_row_by_latitude[column_array]
different_column = [
    'latitude', 
    'longitude',
    
    
]
for i in df_new_data:
    value1 = (df_new_data.iloc[[0][0]][i])
    value2 = (df_new_data.iloc[[1][0]][i])
    if str(value1) != "nan" and str(value2) != "nan":
        if value1 != value2:
            different_column.append(i)
print(duplicate_row_by_latitude[different_column])

    latitude  longitude   strwdthc  wtrtemp   ph  cond   alk     sampdat
46   32.7291   -86.0703   4 - 8 FT     22.0  7.1  32.0  0.24  1976/08/11
48   32.7291   -86.0703  8 - 16 FT     19.0  7.3  30.0  0.18  1976/10/03

In [214]:
wtrtemp_data =dup_df["wtrtemp"]
print(wtrtemp_data)

0     24.0
1     22.0
2     22.0
3     24.0
4     24.0
5     19.0
6     25.0
7     30.0
8     25.0
9     23.0
10    19.0
11    23.0
12    20.0
13    21.0
14    19.0
15    21.0
16     NaN
17     NaN
18     NaN
19     NaN
20     NaN
21     NaN
22     NaN
23     NaN
24     NaN
25     NaN
26     NaN
27     NaN
28     NaN
29     NaN
30    22.0
31    26.0
32     NaN
33    23.0
34    26.0
35     NaN
36    29.0
37     NaN
38    28.0
39    23.0
40     NaN
41    23.0
42    22.0
43    24.0
44    22.0
45    21.0
46    22.0
47    30.0
48    19.0
49    23.0
50    22.0
51    21.0
52    22.0
53    23.0
54    23.0
55    21.0
Name: wtrtemp, dtype: float64

In [215]:
dup_df['wtrtemp'] = dup_df['wtrtemp'].replace(np.nan, 0)
print(dup_df['wtrtemp'].mean())

15.642857142857142

In [216]:
(dup_df['wtrtemp'].describe())

count    56.000000
mean     15.642857
std      11.103527
min       0.000000
25%       0.000000
50%      21.500000
75%      23.000000
max      30.000000
Name: wtrtemp, dtype: float64

In [228]:
dup_df['cond'] = dup_df['cond'].replace(np.nan, 0)#replace NaN value with 0
print(dup_df['cond'].mean())

33.589285714285715

In [229]:
(dup_df['cond'].describe())

count     56.000000
mean      33.589286
std       69.229993
min        0.000000
25%        0.000000
50%       20.000000
75%       30.250000
max      480.000000
Name: cond, dtype: float64

In [230]:
dup_df['ph'] = dup_df['ph'].replace(np.nan, 0)
print(dup_df['ph'].describe())

count    56.000000
mean      4.537500
std       3.208033
min       0.000000
25%       0.000000
50%       6.050000
75%       7.025000
max       7.800000
Name: ph, dtype: float64

In [231]:
df= ({'mean':[15.642857,  33.589286, 4.537500],
           'median':[21.500000, 20.000000, 6.050000],
           'column_name': ['wtrtemp', 'cond', 'ph']})
df1 = pd.DataFrame(df)
df1

        mean  median column_name
0  15.642857   21.50     wtrtemp
1  33.589286   20.00        cond
2   4.537500    6.05          ph

In [234]:
mean = df1.sort_values(by=['mean'])
mean

        mean  median column_name
2   4.537500    6.05          ph
0  15.642857   21.50     wtrtemp
1  33.589286   20.00        cond

In [235]:
mean.plot(kind='bar')